@font-face {
    font-family: "Eusthalia Sans Slant";
    src:url("fonts/eusthalia_sans_slant-webfont.woff") format("woff");
    src:url("fonts/Eusthalia Sans Slant.otf") format("ttf");
    src:url("fonts/eusthalia_sans_slant-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Lato-Light";
    src:url("fonts/lato-light-webfont.woff") format("woff");
    src:url("fonts/Lato-Light.otf") format("ttf");
    src:url("fonts/lato-light-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Odachi";
    src:url("fonts/odachi-webfont.woff") format("woff");
    src:url("fonts/Odachi.otf") format("ttf");
    src:url("fonts/odachi-webfont.woff2") format("woff2");
}



#currentPage a:link{
    text-decoration: none;
    color: #300C06;
    background-color: #EADFC0;

}

#currentPage a:visited{
    text-decoration: none;
    color: #300C06;
}

#currentPage a:hover{
    text-decoration: none;
    color: #300C06;
}

#currentPage a:active{
    text-decoration: none;
    color: #300C06;
}





#brown{
    width: 40vw;
    height: 35vw;
    background-color: #300C06;
    position: absolute;
    top:0.8vw;
    left:65.8vw;


}



#container{
    width: 100vw;
    height: 35vw;
    background-color: white;
    background-image: url("Header - Coffee Cup - Wide.png");
    background-size: cover;
    width:65vw;
    height:35vw;
    top:0;
}

#slogan1{
    position:absolute;
    text-align: center;
    left: 31vw;
    top: -1vw;
    color: white;
    font-size: 8vw;
    font-family: Odachi, sans-serif ;
}

#slogan2{
    position:absolute;
    text-align: center;
    left: 25vw;
    top: -3vw;
    color: white;
    font-size: 15vw;
    font-family: Odachi, sans-serif;
}

#currentPage{
    color:#300C06;
    display: inline;
    transtion: color .5s ease;
    cursor: pointer;
    padding-left: 25px;
    font-family: Eusthalia Sans Slant, sans-serif ;
    font-size: 1.5vw;

}

#nav{
    position: absolute;
    width: 100vw;
}

#shopping{
    position: absolute;
    cursor: pointer;
    top: 2.1vw;
    left: 60vw;
    background-size: cover;



}

#redround{
    position: absolute;
    top: 3.5vw;
    left: 61vw;
}

#total{
    position: absolute;
    cursor: pointer;
    top: 3.4vw;
    left: 61.5vw;
}

#word1{
    position:absolute;
    left: 78vw;
    top: 10vw;
    color: white;
    font-size: 4vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}


#word6{
    position:absolute;
    left: 48vw;
    top: 33vw;
    color: #300C06;
    font-size: 10vw;
    float: top;
    font-family: Odachi,sans-serif;
}
#sh1{
    position: absolute;
    left: 0vw;
    top: 36vw;
    width: 25vw;
    height: 2vw;
    background-color: white;
}

#square{
    position: absolute;
    left: 42vw;
    top: 50vw;
    width: 25vw;
    height: 3vw;
    background-color: #EADFC0;
}


#redline{
    position: absolute;
    left: 18vw;
    top: 58vw;
    width: 72vw;
    height: 1vw;
    background-color: #DA4E31;
}

#bs{
    position: absolute;
    left: 42vw;
    top: 100vw;
    width: 25vw;
    height: 3vw;
    background-color: #EADFC0;
}

#billing{
    position:absolute;
    left: 45vw;
    top: 82vw;
    color: #300C06;
    font-size: 10vw;
    float: top;
    font-family: Odachi,sans-serif;
}

.lhs{
    position: absolute;
    left:20vw;
    top:105vw;

}

#text1{
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;

}
#text2{

    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;
}
#text5{
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;

}
#text6{

    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;
}

.rhs{
    position: absolute;
    left:60vw;
    top:105vw;

}

#text3{
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;

}
#text4{

    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;
}
#text7{
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;

}
#text8{

    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;
}

#pm{
    position: absolute;
    left: 42vw;
    top: 138vw;
    width: 30vw;
    height: 3vw;
    background-color: #EADFC0;
}

#payment{
    position:absolute;
    left: 46vw;
    top: 120vw;
    color: #300C06;
    font-size: 10vw;
    float: top;
    font-family: Odachi,sans-serif;
}

.up1{
    position: absolute;
    left:20vw;
    top:143vw;

}

#text9{
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;

}
.up2{
    position: absolute;
    left:20vw;
    top:148vw;

}
#text10{

    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 55vw;
}

.c{
    position: absolute;
    left:77vw;
    top:149.5vw;
}
#card1{
    background-image: url("Mastercard.svg");
    background-size: cover;
    width:4.2vw;
    height:2.7vw;

}

#card2{
    position: absolute;
    background-image: url("Visa.svg");
    background-size: cover;
    width:4.2vw;
    height:2.7vw;
    left:82vw;
    top:149.5vw;
}
.up3{
    position: absolute;
    left:20vw;
    top:153vw;

}
#text11{

    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;
}
.up4{
    position: absolute;
    left:60vw;
    top:153vw;

}
#text12{

    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
    background-color: #DBDBDB;
    width: 30vw;
}

#w1{
    position:absolute;
    left: 20vw;
    top: 55vw;
    color: #300C06;
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}

#w2{
    position:absolute;
    left: 55vw;
    top: 55vw;
    color: #300C06;
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}
#w3{
    position:absolute;
    left: 83vw;
    top: 55vw;
    color: #300C06;
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}

.cart-item-list{
    position: absolute;
    left: 0vw;
    top: 61vw;
    width: 34vw;
    height: 30vw;
}

.cart-item{
    width: 100vw;
    height: 3vw;
}
.cart-box-name{
    position: absolute;
    left: 20vw;
    color: #300C06;
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}

.cart-box-quatity{
    position: absolute;
    left: 55vw;
    color: #300C06;
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}

.cart-box-price{
    position: absolute;
    left: 83vw;
    color: #300C06;
    font-size: 1.5vw;
    font-family: "Eusthalia Sans Slant",sans-serif;
}

.cart-delete-button{
    color: #EADFC0;
    font-size: 0.1vw;
    float: right;
    background-color: #DA4E31;
}

.cart-item-line{
    position: relative;
    left: 18vw;
    height: 0.1vw;
    width: 72vw;
    background-color: #DA4E31;
}

.cart-item-box{
    position: relative;
    left: 50vw;
    height: 15vw;
    width: 55vw;
    background-color: #EADFC0;
}


.cart-item-subtotal-text{
    position: relative;
    left: 83vw;
    color: #300C06;
    font-size: 1.5vw;
    font-family: "Eusthalia Sans Slant",sans-serif;
    top: -15vw;
}


.cart-item-l2{
    position: relative;
    top: -13vw;
    left: 53vw;
    height: 0.1vw;
    width: 35vw;
    background-color: #DA4E31;
}
.cart-item-total-text{
    position: relative;
    left: 52vw;
    color: #300C06;
    font-size: 1.5vw;
    top:-12.5vw;
    font-family: "Eusthalia Sans Slant",sans-serif;
}

.cart-item-grandtotal-text{
    position: relative;
    left: 52vw;
    color: #300C06;
    font-size: 1.5vw;
    top:-10vw;
    font-family: "Eusthalia Sans Slant",sans-serif;
}

.cart-item-grand-text{
    position: relative;
    left: 83vw;
    top:-12.7vw;
    font-size: 1.5vw;
    color: #300C06;
    font-family: "Eusthalia Sans Slant",sans-serif;
}

#btn{
    cursou:pointer;
    color: #EADFC0;
    background-color:#300C06 ;
    font-size: 1.5vw;
    font-family: Eusthalia Sans Slant,sans-serif;

}

#b1{
    position:absolute;
    left: 46vw;
    top: 160vw;

}



#thank{
    position: absolute;
    left: 13vw;
    top: 180vw;
    color: #300C06;
    font-size: 3.0vw;
    font-family: Eusthalia Sans Slant,sans-serif;

}

#w4{
    position: absolute;
    left: 13vw;
    top: 188vw;
    color: #300C06;
    font-size: 1.5vw;
    font-family: Lato-Light,sans-serif;
}


#cf{
    position:absolute;
    left: 55vw;
    top: 172vw;
    float: top;
    background-image: url("Feature - Coffee in Window.png");
    background-size: cover;
    width:40vw;
    height:25vw;

}

#b2{
    position: absolute;
    top: 177vw;
    left: 0vw;
    width: 80vw;
    height: 25vw;
    background-color: #EADFC0;
}


#box5{
    position: absolute;
    top: 220vw;
    left: 37vw;
    width: 68vw;
    height: 30vw;
    background-color: #EADFC0;
}

#map {
    position: absolute;
    left: 18vw;
    top: 215vw;
    background-image: url("Footer - Map.png");
    background-size: cover;
    width:70vw;
    height:30vw;
}

#line{
    position: absolute;
    top: 240vw;
    left: 52vw;
    width: 30vw;
    height: 2vw;
    background-color: #DA4E31;
}

#word25{
    position: absolute;
    left: 53.5vw;
    top: 236.5vw;
    color: #300C06;
    font-size: 2.0vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}

#box6{
    position: absolute;
    top: 250vw;
    left: 0;
    width: 105vw;
    height: 15vw;
    background-color: #300C06;

}

#copyright{
    position: absolute;
    left: 18vw;
    top: 253vw;
    color: white;
    font-size: 1.0vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}

#photoby{
    position: absolute;
    left: 73vw;
    top: 253vw;
    color: white;
    font-size: 1.0vw;
    font-family: Eusthalia Sans Slant,sans-serif;
}


#visual{
    position: absolute;
    left: 73vw;
    top: 256vw;
    color: white;
    font-size: 1.0vw;
    font-family: Lato-Light,sans-serif;
}




